.webform-component-checkboxes{
  background:none;
  width:100%;
  padding:0;
}

input[type="checkbox"]{
  display:none;
  
  + label:before{
    display:inline-block;
    width:18px;
    height:18px;
    vertical-align:middle;
    background:url(images/checkbox_bg.gif) left top no-repeat;
    cursor:pointer;
    margin:-1px 3px 0 0;
    content:"";
  }
  
  &:checked + label:before{background-position:-18px 0;}
}

input[type="radio"]{
  @extend input[type="checkbox"];
  
   + label:before{
     background:url(images/checkbox_bg.gif) left top no-repeat;
   }
}