#edit-actions{margin:12px 0;}

input.form-submit{
  background:#000;
  color:#fff;
  border:none;
  text-align:center;
  font-weight:bold;
  padding:6px;
  min-width:75px;
  cursor:pointer;
  @include reset-border-radius();
  
  &:hover,
  &:focus{
    background:#fff;
    color:#000;
  }
}

input.form-button-disabled{
  opacity:0.5;
  cursor:default;
  
  &:hover,
  &:focus{
    background:#e57116;
    color:#fff;
  }
}

.inline-loading{
  display:block;
  width:32px;
  height:32px;
  background:url(images/loader.gif) no-repeat;
}